.listBody {
  width: 100%;
}

.listFilter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  height: 55px;
  font-size: 19px;
}

.filter {
  margin: 0;
  padding: 10px 0;
  transition: 0.5s ease-in-out;
}

.selectedCat {
  border-bottom: solid;
  border-color: rgb(193, 193, 193);
}

.dropdownFilter  {
  margin: 0;
  width: 335px;
  font-size: 19px;
  text-align: center;
  justify-content: center;
}


.catsDropdown > button {
  margin: 10px;
  border-radius: 0.350rem;
  width: 335px;
}

.catsDropdown > div {
  transition: 0.5s ease-in-out;
  width: 335px;
  text-align: center;
}

.listItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.catalogueList {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

@media (min-width: 451px) and (max-width: 1299px) {
  .listItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .listItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media (max-width:320px) {
  .catsDropdown > button {
    width: 280px;
  }
}