.listBody {
  width: 100%;
}

.listFilter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #111;
  color: white;
  height: 55px;
  font-size: 19px;
}

.filter {
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  transition: 0.5s ease-in-out;
}

.selectedCat {
  font-weight: 700;
}

.dropdownFilter {
  margin: 0;
  width: 335px;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

.catsDropdown > button {
  border-radius: 0;
  width: 100%;
  font-size: 26px;
  background-color: #111;
  color: #fff;
  box-shadow: none;
}

.catsDropdown > button:focus {
  background-color: #111;
}

.catsDropdown > div {
  transition: 0.5s ease-in-out;
  width: 100%;
  background-color: var(--tertiary-color);
  text-align: center;
}

.catsDropdown * {
  color: #fff;
}

.listItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.catalogueList {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

@media (max-width: 450px) {

  .listItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .catsDropdown > button {
    font-size: 22px;
  }

}

@media (min-width: 451px) and (max-width: 779px) {

  .listItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .catsDropdown > button {
    font-size: 24px;
  }

}

@media (min-width: 780px) and (max-width: 1299px) {

  .listItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
  
}
