.listBody {
  width: 100%;
}

.listFilter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
}

.filter {
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.catsDropdown > button {
  margin: 20px;
}

.catsDropdown > div {
  transition: 0.5s ease-in-out;
}

.listItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.catalogueList {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

@media (min-width: 451px) and (max-width: 1299px) {
  .listItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .listItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
