.header {
  color: white;
  background-color: black;
}

.mainNav {
  padding: 0 !important;
}

.mainNav > div > div > a {
  color: white;
  text-decoration: none;
}

.navlink {
  border-bottom: 4px solid black;
  display: block;
  padding: 18px 0;
  transition: .3s ease-in-out;
  text-decoration: none;
  color: white;
  width: 25%;
  color: rgb(197, 197, 197);
}

.navlink:hover {
  color: white;
}

.selected-navlink {
  border-color: rgb(193, 193, 193);
  display: block;
  color: white;
}