.cardBody {
  text-align: left;
}

.cardLink {
  color: black;
  text-decoration: none;
}

.cardLink:hover {
  color: black;
}

.cardImg {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.cardName {
  text-transform: uppercase;
  margin: 0;
}

.cardPrice {
  font-weight: bold;
}
