.cardBody {
  text-align: left;
  width: 300px;
}

.cardLink {
  color: black;
  text-decoration: none;
}

.cardLink:hover {
  color: black;
}

.cardImg {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.cardName {
  text-transform: uppercase;
  margin: 0;
}

.cardPrice {
  font-weight: bold;
}

@media (max-width: 450px) {
  .cardBody {
    text-align: left;
    width: 150px;
  }
  .cardImg {
    height: 200px;
  }
}
