.homeBody {
  width: 100%;
}

.homeBody > div {
  margin-bottom: 120px;
}

.homeCategories {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-gap: 40px;
  justify-items: center;
  justify-content: center;
  align-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.homeCat {
  margin: 0;
}

.homeCat > a > div {
  background-size: cover;
  background-position: center;
  height: 380px;
  width: 380px;
  margin-right: auto;
  margin-left: auto;
}

.mask {
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 100%;
}

.mask > p {
  position: absolute;
  bottom: 27px;
  left: 27px;
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: var(--secondary-color);
}

.homeHowTo > h2 {
  margin-bottom: 70px;
  font-size: 48px;
}

.howToSite > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}

.howToSite > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  margin: 30px 0;
}

.howToSite > div > div > h2 {
  margin: 0;
}

.howToSite > div > p {
  font-size: 22px;
  text-align: center;
}

.logosSVG {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.svgText {
  text-align: start;
  font-size: 22px;
  margin-left: 20px;
}

.svgText > * {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.svgText > h5 {
  font-size: 22px;
  font-weight: 700;
}

.svgText > p {
  color: rgb(144, 142, 142);
}

.homeInstructions > h2 {
  font-size: 48px;
  text-align: center;
}

.aboutText {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: center;
  margin: 70px;
  font-size: 22px;
}

@media (max-width: 450px) {
  .homeBody > div {
    margin-bottom: 40px;
  }

  .homeCategories {
    grid-template-columns: repeat(2, 160px);
    grid-gap: 20px;
  }

  .homeCat > a > div {
    background-size: cover;
    background-position: center;
    height: 160px;
    width: 160px;
  }

  .mask > p {
    bottom: 15px;
    left: 15px;
    font-size: 20px;
  }

  .homeHowTo > * {
    margin-bottom: 40px;
  }

  .homeHowTo > h2 {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .howToSite {
    flex-direction: column;
  }

  .howToSite > div {
    margin: 0 0 10px 0;
  }

  .howToSite > div > div {
    margin: 20px 0;
  }

  .howToSite > div > p {
    font-size: 18px;
  }

  .howToBuy {
    flex-direction: column;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logosSVG {
    margin-top: 70px;
  }

  .svgText > h5 {
    font-size: 18px;
  }

  .homeInstructions > h2 {
    font-size: 28px;
  }

  .aboutText {
    margin: 50px;
    font-size: 16px;
  }
}

@media (min-width: 451px) and (max-width: 779px) {
  .homeBody > div {
    margin-bottom: 60px;
  }

  .homeCategories {
    grid-template-columns: repeat(2, 240px);
    grid-gap: 30px;
  }

  .homeCat > a > div {
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
  }

  .mask > p {
    bottom: 20px;
    left: 20px;
    font-size: 24px;
  }
}

@media (min-width: 780px) and (max-width: 1299px) {
  .homeCategories {
    grid-template-columns: repeat(3, 240px);
    grid-gap: 30px;
  }

  .homeCat > a > div {
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 240px;
  }
}
