.footer {
  position: relative;
  bottom: 0;
  padding: 20px 0;
  color: white;
  background-color: black;
}

.footerLinks {
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footerLinks > div > * {
  display: flex;
  text-align: start;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  margin: 20px;
}

.footerWhatsapp {
  border: none;
  padding: 0;
}

.footerWhatsapp > svg {
  width: 100%;
  height: 100%;
}

.footerLinks > :nth-child(2) > * {
  margin: 28px;
  width: 36px;
  height: 36px;
}

.footerLinks > div > *:hover {
  color: #fff;
}

@media (max-width: 450px) {
  .footerLinks {
    padding: 25px 40px;
    font-size: 16px;
  }
}
