.productInfo {
  padding: 0 5%;
}

.productInfo > * {
  text-align: start;
  margin: 0 0 40px 80px;
}

.productTitle {
  font-size: 46px;
  text-align: start;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 45px;
  font-weight: 700;
}

.detailSizeContainer {
  text-align: start;
}

.productSizeTitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.productColorTitle {
  margin-bottom: 10px;
  font-size: 30px;
}

.sampleCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0 10px 0 0;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  background-color: var(--tertiary-color);
}

.sampleCircle > p {
  margin: auto;
  text-align: center;
}

.selectedCircle {
  border: 3px solid var(--primary-color);
}

.detailColorContainer {
  text-align: start;
}

.detailDescriptionContainer {
  text-align: start;
}

.detailDescriptionContainer > p {
  font-size: 20px;
}

.btnWsp {
  border: none;
  text-align: center;
  font-size: 28px;
  width: 90%;
  height: 70px;
  letter-spacing: 2px;
  background-color: var(--tertiary-color);
  margin-top: 40px;
}

@media (min-width: 780px) and (max-width: 1299px) {
  .productInfo > * {
    margin: 0 0 40px 60px;
  }
}

@media (min-width: 451px) and (max-width: 779px) {
  .productTitle {
    margin-top: 30px;
  }

  .productInfo > * {
    margin: 0 0 40px 0;
  }
  .btnWsp {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .productTitle {
    margin-top: 30px;
  }

  .productInfo > * {
    margin: 0 0 40px 0;
  }

  .detailDescriptionContainer > p {
    font-size: 24px;
  }
  .btnWsp {
    width: 100%;
  }
}
